<!DOCTYPE html>

<html>
<head>
	<title>Foo-dinator</title>
	<%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag "global" %>
</head>

<body>

<div id="pageContent">
    <header>
    <%= image_tag "hdr-main.gif", :alt => "Foo-dinator", :border => "0", :width => "754", :height => "67" %>
        <nav>
            <ul id="nav" class="clearFix">
                <li>
                    <a href="/fooderies" class="navLink">
                        <%= image_tag "tutorials-32.jpg", :alt => "Admin", :border => "0", :width => "32", :height => "32" %>
                        <br>
                        Admin
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    
    <div id="mainBody">
        <p>Click the button to help facilitate the food choice for today.</p>
        <div class="btnContainer">
             <button>Choose wisely</button>
         </div>
         
        <!--
        <ul class="results">
            <li class="first-child">Name of Restaurant</li>
            <li><span><a href="" target="_blank">www.sitegoeshere.com</a></span></li>
            <li><span>Battlefield</span></li>
            <li><span class="star-rating rating-50"></span></li>
        </ul>
        <div class="btnContainer">
             <button>Choose again</button>
         </div>
         -->
         
    </div><!-- /.mainBody -->
</div><!-- /#pageContent -->
</body>
</html>
